spring:
  profiles:
    active: ${ACTIVE_PROFILE:dev}
    jackson:
      default-property-inclusion: non_null
      serialization:
        fail-on-empty-beans: false
        close-closeable: true
        flush-after-write-value: true
        write-date-keys-as-timestamps: false
      deserialization:
        fail-on-unknown-properties: false
    datasource:
      url: jdbcpostgresql://${POSTGRESQL_HOST}:${POSTGRESQL_PORT}/${POSTGRESQL_DATABASE}
      username: ${POSTGRESQL_USERNAME}
      password: ${POSTGRESQL_PASSWORD}
    jpa:
      open-in-view: false
      database-platform: org.hibernate.dialect.PostgreSQLInnoDBDialect
      generate-ddl: true
      show-sql: true
      hibernate:
        ddl-auto: update
      properties:
        hibernate:
          globally_quoted_identifiers: true
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true
    sql:
      init:
        mode: never
        continue-on-error: false
        schema-locations: classpath:/data/schema.sql
        data-locations: classpath:/data/data.sql
    servlet:
      multipart:
        enabled: true
        max-file-size: 1000MB
        max-request-size: 1000MB