spring:
  profiles:
    active: ${ACTIVE_PROFILE:dev}
    jackson:
      default-property-inclusion: non_null
      serialization:
        fail-on-empty-beans: false
        close-closeable: true
        flush-after-write-value: true
        write-date-keys-as-timestamps: false
      deserialization:
        fail-on-unknown-properties: false
    datasource:
      url: jdbcpostgresql://${POSTGRESQL_HOST}:${POSTGRESQL_PORT}/${POSTGRESQL_DATABASE}
      username: ${POSTGRESQL_USERNAME}
      password: ${POSTGRESQL_PASSWORD}